<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>評論區</title>
    <link rel="stylesheet" href="~/css/Book0103.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <section>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <div class="content">
                            <p>
                                懸疑緊張，步步玄機，結局絕佳，令人讚嘆，兼而各角色性格一貫，所以很可能會變成奇幻小說的經典。」
                            </p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="~/images/thumb-1920-921355.jpeg">
                                </div>
                                <h3>Publishers<br /><span>Weekly</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <div class="content">
                            <p>
                                「作者除了提供鮮明的人物之外，更自信滿滿地拋出一個個的謎團。瞻遠宮廷的密謀與暗地裡的進展，已是複雜如蛛網的互動，而故事的布局，更使得讀者不斷地試以各種理論去串聯全局；由此便可以看出，為何荷布在一流的奇幻小說界之中傲視群倫。」
                            </p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="~/images/thumb-1920-933783.jpeg">
                                </div>
                                <h3>Publishers <br /><span>Weekly</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <div class="content">
                            <p>
                                「值得推薦的好書！荷布筆下的人物高潮迭起，他們的舉止也許不盡完美，卻更貼近人生，而且令人難忘。精技與原智魔法、宮廷密謀、不甘不願的英雄，以及尚未解開的祕密，在在令人欲罷不能地把這本精采好書一口氣看完。」
                            </p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="~/images/thumb-1920-934507.png">
                                </div>
                                <h3>Romantic Times<br /><span>(four stars) </span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <div class="content">
                            <p>
                                「溫馨深情的實在故事。」
                            </p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="~/images/thumb-1920-934504.png">
                                </div>
                                <h3>The Kansas <br /><span>City Star </span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <div class="content">
                            <p>
                                「好得沒話說……荷布幾年前出的刺客正傳（The Farseer），輕鬆地榮登十年來最佳奇幻小說的榜首，而這套刺客後傳三書，更不遑多讓。《黃金弄臣》再度證明了荷布乃是這一行的翹楚。」
                            </p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="~/images/thumb-1920-922693.jpg">
                                </div>
                                <h3>新聞星報 <br /><span>(Monroe News-Star） </span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <div class="content">
                            <p>
                                「荷布最厲害的地方，在於她能創造出令人咀嚼再三、複雜深刻、而且難以忘懷的角色……我總是難以道盡荷布的文字的好處。《黃金弄臣》維持荷布一貫的高水準，並使讀者引頸企盼此套書不可思議的結局。」
                            </p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="~/images/thumb-1920-933783.jpeg">
                                </div>
                                <h3>Davis <br /><span>Enterprise</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflow: {
            rotate: 0,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true
        },
        loop: true,
    });
    </script>
</body>
</html>