<!DOCTYPE html>
<html>
<head>
    <title>搶先看</title>
    <link rel="stylesheet" href="~/css/Book0101.css">
</head>
<body>
    <div class="accordion">
        <div class="contentBx">
            <div class="label">內容簡介</div>
            <div class="content">
                <p>
                    【隨套附贈精美插畫大書衣海報】

                    奇幻世界中難得一見的女作家——羅蘋‧荷布
                    繼「刺客正傳」讓無數讀者激動落淚之後，
                    再度創作使人屏息以待的「刺客後傳」三部曲（the Tawny Man），
                    為蜚滋駿騎‧瞻遠的一生起伏，寫下不同凡響的終曲。
                    充滿冒險故事與深刻人物的「弄臣命運」，註定要成為魔幻小說的經典。

                    身懷精技絕技的王室私生子蜚滋，同時也替王室執行不可告人的刺客任務，
                    然而，任務的代價卻換來破碎的愛情與蒼老的心。
                    愛他和他愛的人幾乎都以為蜚滋已經死去，
                    十五年過去，他離群索居，僅有狼和寂寞為伴。命運卻在此刻找上門來。
                    他必須再次返回六大公國，獨自面對痛苦的往昔，和不可預知的未來！

                    十五年來，瞻遠家的王室私生子蜚滋駿騎過著自我放逐的生活，而關愛著他的人，大都認為他已經死了。不過一切即將改觀，因為命運又再度找上門來。
                    瞻遠王位的年輕傳人，也就是晉責王子，突然消失不見，而蜚滋駿騎乃是唯一同時具有精技能力與野獸魔法，並能夠及時在王子的訂婚大典之前，將王子救回來的人。蜚滋重新回到公鹿公國，也重拾過去那不可告人的身分，與已化身為俊美黃金大人的弄臣，一同進行搭救王子的任務。但是，就連蜚滋也沒有想到，眼前的局勢有多凶險，而他對於王后的忠誠、對於友伴的忠誠，以及他對於原智者同胞的忠誠，會受到多大的考驗……
                </p>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">作者介紹</div>
            <div class="content">
                <p>
                    ■作者簡介

                    羅蘋．荷布
                    出生於加州，但在阿拉斯加的費爾班克斯度過大部分的成長歲月，目前與一隻相當大的狗、四隻貓，以及眾多子女親屬等住在華盛頓州的塔科瑪。
                    畢生對奇幻與科幻文學的熱愛，引導她走入這個領域開始創作。
                    在男性主導的奇幻寫作界，羅蘋‧荷布成功的走出自己的一條道路。
                    她所擅長的是描述傳統作品所未曾接觸的領域。
                    刺客系列的作品描述的是其它奇幻小說極少碰觸的陰暗面：殺手生涯。
                    過去曾經有過相同嘗試的作品不是太過隱諱，就是深藏在血腥之中，掩蓋了原該有的劇情光采，但她的作品擁有一種截然不同的特殊風格。

                    刺客系列的作品並不是以華麗血腥見長；相反的，這是一名身懷絕技，卻仍生澀無知的少年成長的故事。在皇室勾心鬥角的過程中，往往隱含著無數的陰謀和伎倆，不到最後一刻，讀者都無法得知主角脫身的機會和真正的陰謀為何。這系列的作品在娛樂性和峰迴路轉的刺激感上，可說是近代奇幻小說中罕見的。

                    麥全
                    專業譯者，之前譯有《聖石傳奇1 預言傀儡The Belgariad. 1, Pawn of Prophecy》，《聖石傳奇2 魔法皇后」The Belgariad. 2, Queen of Sorcery》，《聖石傳奇3 孤注一擲The Belgariad. 3, Magician’s Gambit》，《聖石傳奇4 巫術城堡The Belgariad. 4, Castle of Wizardry》 ，《聖石傳奇5：預言終局The Belgariad. 5, Enchanter’s end game》等魔幻之城系列小說，現旅居美國。
                </p>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">規格</div>
            <div class="content">
                <p>
                    誠品貨碼 / 2680901199003
                    ISBN13 / 4717702087692
                    ISBN10 / 7702087692
                    EAN貨碼 / 4717702087692
                    裝訂 / 平裝
                    頁數 / 2528
                    語言 / 中文/繁體
                    級別 / 無
                    尺寸 / 21X14.8CM
                </p>
            </div>
        </div>
    </div>
    <script>
        const accordion = document.getElementsByClassName('contentBx');
        for(i = 0; i<accordion.length; i++){
            accordion[i].addEventListener('click',function(){
                this.classList.toggle('active')
            })
        }
    </script>
</body>
</html>

