<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>Fullscreen Responsive Login Page</title>
    <link rel="stylesheet" href="~/css/Register.css" />
</head>
<body>
    <div id="VuePage">
        <section>
            <div class="imgBx">
                <img src="~/images/library.jpg" />
            </div>
            <div class="contentBx">
                <div class="formBx">
                    <h2>Login</h2>
                    <form>
                        <div class="form-group">
                            <span>帳號</span>
                            <input type="text" class="form-control" v-model="form.UserID">
                        </div>
                        <div class="form-group">
                            <span>密碼</span>
                            <input type="password" class="form-control" v-model="form.UserPwd">
                        </div>
                        <div class="form-group">
                            <span>姓名</span>
                            <input type="text" class="form-control" v-model="form.UserName">
                        </div>
                        <div class="form-group">
                            <span>Email</span>
                            <input type="text" class="form-control" v-model="form.UserEmail">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" v-on:click="DoRegister()">註冊</button>
                        </div>
                    </form>
                    <h3>加入我們吧！！</h3>
                    <ul class="sci">
                        <li><img src="~/images/facebook.png" /></li>
                        <li><img src="~/images/twitter.png" /></li>
                        <li><img src="~/images/instagram.png" /></li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="modal fade" id="ErrorAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">錯誤訊息</h4>
                    </div>
                    <div class="modal-body" id="ErrorMsg" style="overflow-x:auto;width:100%;">

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</body>
</html>

@section scripts {
    <script>
        var VuePage = new Vue({
            el: '#VuePage'
            , data: function () {
                var data = {
                    form: {}
                };
                return data;
            }
            , methods: {
                // 執行註冊按鈕
                DoRegister: function () {
                    var self = this;

                    // 組合表單資料
                    var postData = {};
                    postData['UserID'] = self.form.UserID;
                    postData['UserPwd'] = self.form.UserPwd;
                    postData['UserName'] = self.form.UserName;
                    postData['UserEmail'] = self.form.UserEmail;

                    // 使用 jQuery Ajax 傳送至後端
                    $.ajax({
                        url:'@Url.Content("~/Member/DoRegister")',
                        method:'POST',
                        dataType:'json',
                        data: { inModel: postData },
                        success: function (datas) {
                            if (datas.ErrMsg) {
                                alert(datas.ErrMsg);
                                return;
                            }
                            alert(datas.ResultMsg);
                        },
                        error: function (err) {
                            $('#ErrorMsg').html(err.responseText);
                            $('#ErrorAlert').modal('toggle');
                        },
                    });
                }
            }
        })
    </script>
}